{% extends 'base.html' %}

{% block register %}

<br>
<div class="container reg-form">
  {% if error %}
  <p style = "color:red"> {{error}}</p>
  {% endif %}
  <form action = "{% url 'register' %}" method="post"> {% csrf_token %}
    {{user_form.as_p}}
    <br>
    <button type="submit" style = "margin-left: 30px;"> Зарегистрироваться </button>
  </form>

</div>
<!-- <form> {% csrf_token %}
    <input type="text" name="username">
    <input type= "password" name = "password">
    <button type="submit" name="button"> Login </button>
</form> -->

<style>
  .reg-form{
    background-color: #1ab097;
    margin: auto;
    width: 300px;
    height; 200px;
    padding: 40px;
    border-radius: 10px;
    margin-top: 70px;

  }

  .reg_ref{
    margin: 5px;
    float: right;
  }

  .reg_ref:hover{
    color:green;
  }
</style>
{% endblock %}
