
<!--Footer -->
<div class = "normal_footer">
  <div class="footer_content">
  </div>
</div>
  <!-- <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer >
       <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center"><small>&#9400; Tester Softwere</small></div>
                    <div class="col-md-3 col-auto"> </div>
                    <div class="col-sm-3 col-auto text-center"><small>&#9400; Tester Softwere</small></div><div class="col-md-3 col-auto "></div><div class="col-md-3 col-auto"></div>
                    <div class="col  my-auto text-md-left  text-right "> <small> hello@tester.com <span><img src="https://i.imgur.com/TtB6MDc.png" class="img-fluid "  width="25"></span> <span><img src="https://i.imgur.com/N90KDYM.png" class="img-fluid "  width="25"></span></small>  </div>
                </div>
            </div>
        </div>
    </footer>
  </div> -->


<style>
.normal_footer
{
  height: 320px;
  width: 100%;
  margin-top: 150px;
  display:block;
  background-color:red;
  padding: 5px;
}

.footer_content
{
  border-radius: 10px;
  background-color: black;
}
</style>
