{% extends "base.html"%}


{% block start_test %}

<div class = 'container'>
  <br>
  <img src="{{the_test.image.url}}" alt="" class = "center">
  <br>
  <div class="border border-light p-3 mb-4">
    <div class="text-wrap" style=" height: 1rem; width: 80%; color: white;">
      Название теста: {{the_test.title}}
    </div>
  </div>


  <div class="border border-light p-3 mb-4">
    <div class="text-wrap" style=" height: 7rem; width: 80%; color: white;">
      Описание теста: {{the_test.description}}
    </div>
  </div>
  <form action = "{% url 'take_test' the_test.pk 0 0 %}">
      <button type="submit" class = "btn btn-success btn-lg center" name="button">Начать тест</button>
  </form>
</div>




<style>
  .question_box{
    margin:35px;
    display:flex;
    background-color:green;
    width:200px;
    height:auto;
    float:right;
    border: 3px solid orange;
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  border-radius: 20px;
}
</style>
{% endblock %}
