{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'univ_app/css/createtest.css' %}">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>
    <script src="anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <div class = "wrapper">
    <!-- мы оборачиваем всё в wrapper чтобы потом можно было через jQuery контролировать все элементы, доступаясь до них через wrapper -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-10"> <!-- bg - background-->
        <a class="navbar-brand" href="#"> Tester</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item ">
              <a class="nav-link" href="#">Как начать пользоваться<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Создать тест</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Статистика</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Подписка PRO</a>
            </li>
          </ul>
        </div>
      </nav>




      <div class = "middle">
        <div class = "content">
            {% block show_test_form %}
            {% endblock %}
            {% block questions_form %}
            {% endblock %}
        </div>
          <div class = "sidebar1">
            <div class = "sidebar1-content" style = "background-color:#8ce6b0">
          </div>
        </div>
      </div>




    <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
    <footer >

       <div class="row justify-content-center mt-0 pt-0 row-1 mb-0  px-sm-3 px-2">
            <div class="col-12">
                <div class="row my-4 row-1 no-gutters">
                    <div class="col-sm-3 col-auto text-center"><small>&#9400; Tester Softwere</small></div><div class="col-md-3 col-auto "></div><div class="col-md-3 col-auto"></div>
                    <div class="col  my-auto text-md-left  text-right "> <small> hello@tester.com <span><img src="https://i.imgur.com/TtB6MDc.png" class="img-fluid "  width="25"></span> <span><img src="https://i.imgur.com/N90KDYM.png" class="img-fluid "  width="25"></span></small>  </div>
                </div>
            </div>
        </div>
    </footer>
    </div>







  </div>

  </body>
</html>
