{% extends "createtest_base.html" %}
{% load static %}


{% block questions_form %}


<!--<form action="" method="POST"> {% csrf_token %}-->
<!--    <div class='form-group testformtxt'>-->


            <!-- {# {% comment %}  #} -->
<!--        <button type="submit" class="btn btn-success btn-md createTestButton"> Продолжить</button>-->
<!--    </div>-->
<!--</form>-->
<script src = "static 'univ_app/js/createquestions_form.js'" defer></script>



 <form action = "" method="POST"> {% csrf_token %}
     <div class="form-group testformtxt">
         <textarea class ="form-control"  name="question" cols="40" rows="10" required="" id="id_question" placeholder = "Текст вопроса"></textarea>
         <label class = "textstyle" for = "id_importance">Значимость вопроса (баллов за верный ответ от 1 до 10):</label>
         <input class ="form-control questionform_importance" min = "1" max = "10" type="number" name="importance" value="5" required="" id="id_importance" >
     </div>

     <div class="form-group ans_group mx-auto" >
       <button type = "button" class="btn btn-primary plusBtn" name="button"> Add question </button>
         <div id = "empty_form" class = "empty_form" >
       {{answer_form.as_p}}
        </div>
        <div class = "empty_form">
      {{answer_form.as_p}}
       </div>
    </div>
 <button type="submit" class="btn btn-success btn-md createQuestionButton">Сохранить вопрос</button>
 </form>

<form action="{% url 'geturl' testid %}">#}
  <button class = "btn btn-danger btn-lg finish" type="submit" name="button">Тест готов</button>
</form>

<style>

        .ans_group{
        border: 3px solid red;
        margin: 5px;
        }

        .hidden{
          display:none
        }

        #empty_form{

        }


        .testformstr{
        margin-top: 50px;
        width:300px;
        margin-left: 500px;
        }

        .testformtxt{
        margin-top: 30px;
        width:700px;
        margin-left: 500px;

        }

        .questionform_importance
        {
        display: inline-block;
        margin-left: 700px;
        width:100px;
        margin: 0px;
        }


        .createQuestionButton{
        margin-top: 35px;
        margin-left: 300px;
        }

        .textstyle{
        color:white;
        margin-top: 30px;
        font-size: 22px;
        }

        .finish{
          position: fixed;
          right: 450px;
          bottom: 100px;
          background-color: red;
        }



</style>

<script defer>
  let num = 1
  const plusBtn = document.querySelector('.plusBtn')
  plusBtn.addEventListener('click', function handler() {
    const emptyForm = document.querySelector('#empty_form')
    let newForm = emptyForm.cloneNode(true)
    newForm.setAttribute("id", `form${num}`)
    newForm.setAttribute("name", `form${num}`)
    num += 1
    const ansGroup = document.querySelector(".ans_group")
    ansGroup.appendChild(newForm)
  });
</script>

{% endblock %}








{% block answer%}
{% for question in previous_questions %}
<!-- some text and form:
<form class="" action="index.html" method="post"> {% csrf_token %}
  {{answer_form.as_p}}
  <br>
  {{answer_form.as_p}}
</form> -->
<br>
<em>{{question}}</em>
<br>

{% endfor %}
{% endblock%}
