{% extends "base_for_answering.html"%}


{% block start_test %}

<div class = 'container'>

  <br>
  <br>
  <div class="border border-light p-3 mb-4 " style = "width: 50%; margin:auto; ">
    <div class="text-nowrap red" style="width: 8rem; color: white; text-aligh">
      Название теста: {{testtitle}}
    </div>
  </div>
  <div class="border border-light p-3 mb-4">
    <div class="text-wrap" style="width: 8rem; color: white;">
      Описание: {{testdescription}}
    </div>
  </div>

</div>


<form action = "{% url 'test_taking' testid%}">
    <button type="submit" class = "btn btn-success btn-lg midbtn" name="button">Начать тест</button>
</form>
{% endblock %}
